<%- include("partials/admin-header.ejs")  %>

<main class="main-content">
  <%if(books.length > 0){%>
    <% books.forEach((book)=>{%>
      <section class="posts">
        <div class="post">
          <h2><%=book.bookname%></h2>
          <p><%=book.authorname%></p>
          <p><%=book.review%></p>
          <div class="post-actions">
            <form action="/edit" method="post">
              <button class="fas fa-pen edit-icon" name="edit" value="<%=book.id%>"></button>
            </form>
            <form action="/delete" method="post">
              <button class="fas fa-trash-alt delete-icon" name="delete" value="<%=book.id%>"></button>
            </form>
          </div>
          <form action="/read" method="post">
            <button class="read-more-btn" name="read" value="<%=book.id%>">Read More</button>
          </form>
        </div>
        <!-- End of Example Post -->
      </section>
    <%}) %>
    <%}else{%>
      <h2>No reviews</h2>
    <%}%>
  </main>
</div>

<%- include("partials/admin-footer.ejs")  %>