<%- include("partials/admin-header.ejs")  %>

<main class="main-content">
    <section class="form-section">
      <h2>Add a Book</h2>
      <form  action="/update" method="post">
        <label for="bookTitle">Title:</label>
        <input type="text" id="bookTitle" name="title" value="<%= title %>"><br>

        <label for="bookAuthor">Author:</label>
        <input type="text" id="bookAuthor" name="author" required value="<%= author %>"><br>

        <label for="publishedYear">Published Year:</label>
        <input type="text" id="publishedYear" name="year" class="year-picker" required value="<%=publishedYear%>"><br>

        <label for="bookDescription">Description:</label>
        <textarea id="bookDescription" name="review" required>"<%=review%></textarea><br>
        <select id="genreSelector" class="genre-selector" name="genre">
          <% genres.forEach((genre)=>{%>
              <option value="<%=genre%>"><%=genre%></option>
          <% }) %>
      </select>
        
        <button name="id" value="<%= id %>" >Save</button>
      </form>
    </section>
  </main>
</div>

<%- include("partials/admin-footer.ejs")  %>