<%- include("partials/header.ejs")  %>
<div class="main-review">
    <div class="book-header">
        <div class="books-review-titles">
            <h2> <%=title%> </h2>
            <p>Author:<%=author%></p>
            <p>Genre:<%=genre%></p>
            <p>Published: <%= publishedYear %></p>
            <div class="views">
                <span class="material-symbols-outlined" style="color: lightgray;font-size: 20px;margin: right 0px;">
                    visibility
                    </span>
                <p><%= views %></p>
            </div>
            
            <div class="icons-view">
                <span class="material-symbols-outlined" id="like">
                    favorite
                </span>
                <span class="material-symbols-outlined">
                    send
                </span>
            </div>
            <p> <%= review %></p>
        </div>
    </div>
    <p> <%= review %></p>
</div>

<%- include("partials/footer.ejs")  %>